:root {
  --color-bg: whitesmoke;
  --color-text: #fff;

  --color-red: #ff5252;
  --color-orange: #ffa726;
  --color-green: #66bb6a;
  --color-purple: #ab47bc;
  --color-brown: #795548;
  --color-teal: #26a69a;
  --color-cyan: #00bcd4;

  --color-accent: black;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

html,
body {
  background-color: var(--color-bg);
  box-sizing: border-box;
  font-family: Lato;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

*,
*:before,
*:after {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  box-sizing: inherit;
}

.wrapper {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 0px;
}

.container {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 50vw;
}

.card {
  margin: 20px;
  width: 300px;
  background-color: var(--color-accent);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  text-align: center;
  position: relative;
  transition: all 300ms;
}

.card:hover,
.card:focus {
  transform: scale(1.05) rotate(2deg) translate(0px, 5px);
  transition: all 500ms;
  z-index: 1200;
  color: var(--color-text);
}

.card::before {
  transition: all 500ms;
  content: "";
  background-color: var(--color-accent);
  filter: brightness(80%);
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 8%;
  left: 0;
  transform: scale(1.05) rotate(4deg);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  z-index: 0;
}

.card::after {
  transition: all 500ms;
  content: "";
  background-color: var(--color-accent);
  filter: brightness(80%);
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: 8%;
  left: 0;
  transform: scale(1.05) rotate(-2deg);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  z-index: 0;
}

.card:hover::after,
.card:focus::after {
  transform: scale(1.05) rotate(+2deg);
}

.card:hover::before,
.card:focus::before {
  transform: scale(1.05) rotate(-5deg);
}

.card {
  display: inline-block;
  padding: 35px;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 2rem;
  color: var(--color-text);
  text-decoration: none;
  text-shadow: 1px 3px 2px #777777;
}

.card.red {
  --color-accent: var(--color-red);
}

.card.orange {
  --color-accent: var(--color-orange);
}

.card.green {
  --color-accent: var(--color-green);
}

.card.purple {
  --color-accent: var(--color-purple);
}

.card.brown {
  --color-accent: var(--color-brown);
}

.card.teal {
  --color-accent: var(--color-teal);
}

.card.cyan {
  --color-accent: var(--color-cyan);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  width: 100%;
  height: 100vh;
}

.loading .container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .container .ring {
  position: relative;
  width: 150px;
  height: 150px;
  margin: -30px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid #24ecff;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading .container .ring:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 20px #24ecff11,
    0 0 20px #24ecff, 0 0 50px #24ecff;
}

.loading .container .ring:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #24ecff;
  box-shadow: 0 0 0 5px #24ecff33, 0 0 0 10px #24ecff22, 0 0 0 20px #24ecff11,
    0 0 20px #24ecff, 0 0 50px #24ecff;
}

.loading .container .ring:nth-child(2) {
  animation: animate2 4s linear infinite;
  animation-delay: -1s;
  border-top: 4px solid transparent;
  border-left: 4px solid #93ff2d;
}

.loading .container .ring:nth-child(2):before {
  content: "";
  position: absolute;

  top: initial;
  bottom: 12px;
  left: 12px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #93ff2d;
  box-shadow: 0 0 0 5px #93ff2d33, 0 0 0 10px #93ff2d22, 0 0 0 20px #93ff2d11,
    0 0 20px #93ff2d, 0 0 50px #93ff2d;
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading .container .ring:nth-child(3) {
  animation: animate2 4s linear infinite;
  animation-delay: -3s;
  position: absolute;
  top: -66.66px;
  border-top:4px solid transparent;
  border-left:4px solid #e41cf8 ;
}


.loading .container .ring:nth-child(3):before {
    content: "";
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #e41cf8;
    box-shadow: 0 0 0 5px #e41cf833, 0 0 0 10px #e41cf822, 0 0 0 20px #e41cf811,
      0 0 20px #e41cf8, 0 0 50px #e41cf8;
  }


.loading .container p {
  position: absolute;
  color: white;
  font-size: 1.5em;
  font-family: consolas;
  bottom: -120px;
  letter-spacing: 0.15em;
}
