@page "/"

  <div class="tuiles">
        <a href="https://traefik.bezard.net/" style="--color:0, 50%;">Traefik</a>
        <a href="https://filebrowser.bezard.net/" style="--color:20, 50%;">File manager</a>
        <a href="https://rutorrent.bezard.net/" style="--color:40, 50%;">RuTorrent</a>
        <a href="https://flood.bezard.net/" style="--color:60, 50%;">Flood</a>
        <a href="http://home.bezard.net:16660/" style="--color:80, 50%;">Plex PC</a>
        <a href="http://home.bezard.net:15561/" style="--color:100, 50%;">Plex NAS</a>
        <a href="https://home.bezard.net/" style="--color:120, 50%;">Freebox maison</a>
        <a href="https://www3.yggtorrent.re/" style="--color:140, 50%;">yggTorrent</a>
        <a href="https://baurezGames.bezard.net/" style="--color:160, 50%;">Baurez Games</a>
    </div>

    <div class="badges">
        <img src="https://github.com/baurez/home.bezard.net/actions/workflows/main.yml/badge.svg">
        <img
            src="https://sonarcloud.io/api/project_badges/measure?project=baurez_home.bezard.net&amp;metric=alert_status">
    </div>

