@page "/"

<section class="wrapper">
    <section class="container">
        <a href="https://traefik.bezard.net/" class="card cyan">Traefik</a>
        <a href="https://filebrowser.bezard.net/" class="card purple">File manager</a>
        <a href="https://rutorrent.bezard.net/" class="card orange">RuTorrent</a>
        <a href="https://flood.bezard.net/" class="card green">Flood</a>
        <a href="http://home.bezard.net:16660/" class="card brown">Plex PC</a>
        <a href="http://home.bezard.net:15561/" class="card teal">Plex NAS</a>
        <a href="https://home.bezard.net/" class="card red">Freebox maison</a>
        <a href="https://www3.yggtorrent.re/" class="card brown">yggTorrent</a>
    </section>
    <div>
        <img src="https://github.com/baurez/home.bezard.net/actions/workflows/main.yml/badge.svg" />
    </div>
</section>
